In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
from datetime import timedelta
from datetime import datetime
import tensorflow as tf
%matplotlib inline
%config IPCompleter.greedy=True
flight = pd.read_csv("D:\\DataSets\\Rawflight.csv")

In [2]:
def rel(data):
    corel = data.corr().index
    plt.figure(figsize = (10,10))
    corell=sns.heatmap(data[corel].corr(),annot = True,cmap = 'RdYlGn')

In [3]:
mins =[]
for t in flight.duration:
    m = (int(t.split()[0].split('h')[0])*60) + (int(t.split()[1].split('m')[0]))
    mins.append(m)
flight.replace(["BOM","HYD","NAG","PNQ"],[1,2,3,4],inplace = True)
flight['Duration'] = mins
flight['Departure_Date'] = pd.to_datetime(flight.Departure_Date,dayfirst =True)
flight['Search_Date'] = pd.to_datetime(flight.Search_Date,dayfirst =True)
flight['Day_Name'] = flight.Departure_Date.dt.weekday
flight['Dept_Month'] = flight.Departure_Date.dt.month
flight['Search_Month'] = flight.Search_Date.dt.month
flight['Diff_Month'] = flight.Departure_Date.dt.month - flight.Search_Date.dt.month
flight.drop_duplicates(inplace = True)
flight.drop('Unnamed: 0',axis = 1,inplace =True)
tofday = []
for i in flight['deptime']:
    j=int(i.split(':')[0])
    if(j >=0 and j<6):
        tofday.append(1)
    elif(j >=6 and j<12):
        tofday.append(2)
    elif(j>=12 and j< 18):
        tofday.append(3)
    else:
        tofday.append(4)
flight['deptime'] = tofday
tofday1 = []
for i in flight['arrtime']:
    j=int(i.split(':')[0])
    if(j >=0 and j<6):
        tofday1.append(1)
    elif(j >=6 and j<12):
        tofday1.append(2)
    elif(j>=12 and j< 18):
        tofday1.append(3)
    else:
        tofday1.append(4)
flight['arrtime'] = tofday1
data = flight.loc[flight['airline'] == 'Vistara']
data.reset_index(drop = True,inplace = True)
data.head()

,Search_Date,Departure_Date,Days_fly,origin,destination,deptime,arrtime,flightno,airline,Total_fare,...,seatingclass,duration,stops,stop1,stop2,Duration,Day_Name,Dept_Month,Search_Month,Diff_Month
0,2019-08-07,2019-08-08,1,DEL,1,2,4,631,Vistara,9086,...,E,12h 20m,1,IXC,NaN,740,3,8,8,0
1,2019-08-07,2019-08-09,2,DEL,1,2,4,631,Vistara,10084,...,E,12h 20m,1,IXC,NaN,740,4,8,8,0
2,2019-08-07,2019-08-10,3,DEL,1,2,4,631,Vistara,9086,...,E,12h 20m,1,IXC,NaN,740,5,8,8,0
3,2019-08-07,2019-08-12,5,DEL,1,2,4,631,Vistara,5341,...,E,12h 20m,1,IXC,NaN,740,0,8,8,0
4,2019-08-07,2019-08-13,6,DEL,1,2,4,631,Vistara,5341,...,E,12h 20m,1,IXC,NaN,740,1,8,8,0

In [4]:
data.drop(columns = {"origin","seatingclass","stop1","stop2","flightno","airline","seats_avail","duration"},axis = 1,inplace = True)
data['Search_Day'] = data.Search_Date.dt.day
fare_cat = []
for i in data['Total_fare']:
    
    if(i<=3000):
        fare_cat.append(0)
    elif(i>3000 and i<=4000):
        fare_cat.append(1)
    elif(i>4000 and i< 5000):
        fare_cat.append(2)
    elif(i>5000 and i<=6000):
        fare_cat.append(3)
    elif(i>6000 and i<=7000):
        fare_cat.append(4)
    elif(i>7000 and i <= 8000):
        fare_cat.append(5)
    else:
        fare_cat.append(6)
data['Fare_Cat'] = fare_cat
data['Diff_Month'] = [x if x>=0 else x+12 for x in data['Diff_Month']]
data.tail()
data.to_csv("Vistara_clean.csv")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
data.head()

,Search_Date,Departure_Date,Days_fly,destination,deptime,arrtime,Total_fare,stops,Duration,Day_Name,Dept_Month,Search_Month,Diff_Month,Search_Day,Fare_Cat
0,2019-08-07,2019-08-08,1,1,2,4,9086,1,740,3,8,8,0,7,5
1,2019-08-07,2019-08-09,2,1,2,4,10084,1,740,4,8,8,0,7,5
2,2019-08-07,2019-08-10,3,1,2,4,9086,1,740,5,8,8,0,7,5
3,2019-08-07,2019-08-12,5,1,2,4,5341,1,740,0,8,8,0,7,3
4,2019-08-07,2019-08-13,6,1,2,4,5341,1,740,1,8,8,0,7,3